@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-size-huge : 28px;
    --font-size-large : 20px;
    --font-size-medium : 18px;
    --font-size-small : 16px;
    --font-size-tiny : 14px;
    --font-size-teeny : 12px;

    /* weight : 400 - 900 */
    --font-Inter : 'Inter';
    --font-Orbitron : 'Orbitron'; 
    --font-Barlow : 'Barlow';

    /* COLORS */
    /* --pt : #02c277; */
    --pt : #4112a5;
    --pt2 : #ffa600;

    --pt0 : #38003c;
    --pt3 : 56, 0, 60;

    --black100 : rgba(0, 0, 0, 0.88);
    --black80 : rgba(0, 0, 0, 0.64);
    --black56 : rgba(0, 0, 0, 0.56);
    --black40 : rgba(0, 0, 0, 0.4);
    --black16 : rgba(0, 0, 0, 0.16);
    --black8 : #00000014;
    --black4 : rgba(0, 0, 0, 0.04);
    --black2 : rgba(0, 0, 0, 0.02);
  
    --white100 : rgba(255, 255, 255, 0.88);
    --white80 : rgba(255, 255, 255, 0.64);
    --white56 : rgba(255, 255, 255, 0.56);
    --white40 : rgba(255, 255, 255, 0.4);
    --white24 : rgba(255, 255, 255, 0.24);
    --white16 : rgba(255, 255, 255, 0.16);
    --white8 : rgba(255, 255, 255, 0.08);
    --white4 : rgba(255, 255, 255, 0.04);
    --white2 : rgba(255, 255, 255, 0.02);

    --br : 2px;
}

* {
    box-sizing: border-box;
    margin : 0;

    line-height : 140%;

    /* debug */
    /* box-shadow : 0 0 1px rgba(0, 255, 255, 1.0); */
}

body {
    font-family : var(--font-Inter);
}

a {
    text-decoration: none;
    color : inherit;
}

.page {
    /* height of nav 48px + */
    padding-top : 56px;

    margin-left : 40px;
    margin-right : 40px;
}
  
.page-contents {
    margin : 40px;
}

/* HTML ELEMENTS */

div {
    /* border-radius: var(--br); */
}

hr {
    border : 0.5px solid var(--black8);
}

h1 {
    /* font-size : var(--font-size-large); */
    font-weight : 700;
}

h2 {
    font-size : var(--font-size-large);
    font-weight : 600;
}

h3 {
    font-size : var(--font-size-medium);
    font-weight : 600;
}

select {
    background-color : var(--black8);
    color : var(--black40);
    padding : 4px;
    
    width : 80px;

    border-radius: 4px;
    border : 0px;
}

video {
    width : 640px;
}

img {
    border-radius : var(--br);
}

/* LOGIN */
.login-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(https://plus.unsplash.com/premium_photo-1685366454123-3e47003286ae?q=80&w=1333&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Color overlay for background image */
.login-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* TINT */
    background-color: var(--pt);
    opacity: 1.90;

    z-index: 0;
}

.login-title {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;

    color: white;
    position: relative;

    z-index: 1;
}

.login-logo {
    width: 180px;
    height: 180px;
    position: relative;
    z-index: 1;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 280px;
    position: relative;
    z-index: 1;
}

.login-container > * {
    width: 100%;
    height: 40px;
    padding: 10px;

    border-radius: var(--radius);
    border: 1px solid var(--white40);
    background-color: var(--white40);
}

.login-container > input {
    color : white;
}

.login-container > input::placeholder {
    color : white;
}

.login-button {
    cursor: pointer;
    background-color : rgb(176, 148, 148);
}

.login-graphics {
    position: absolute;
    background-color: var(--pt);
    top: 50%;
    left: 0;
    z-index: 10;
    opacity: 0.7;
}

input:focus, button:focus {

}

.input-comment {
    width: 100%;
    padding : 8px;
    border : 1px solid var(--black16);
    border-radius : 4px;
}

.input-comment::placeholder {
    color : var(--black40);
}

/* BANNER */
.banner {
    width : 100%;
    height : 120px;

    display : flex;
    flex-direction: row;
    gap : 8px;

    align-items: center;
    justify-content: center;
    
    /* banner height 400px - page height 56px - 120 / 2 */
    margin-top : 284px;
    margin-bottom : 40px;
}

.banner * {
    border-radius : var(--br);
}

.banner h1 {
    font-size : var(--font-size-huge);
    font-family: var(--font-Barlow);
}

.banner-text {
    flex : 1;
    height : 100%;

    background-color: var(--black16);
    color : white;

    display : flex;
    flex-direction: column;
    justify-content: center;

    padding : 24px;
}

.img-banner-container {
    width : 80px;
    height : 120px;

    border-radius : var(--br);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    overflow : hidden;
}

.img-banner {
    width: 60%;
    height: 60%;
    object-fit: contain;
    display: block;
}

.dashboard-nav-container {
    display: flex;
    flex-direction: column;
    gap : 4px;

    /* stick */
    /* height of nav + 16px */
    top : 72px;
    position : sticky;
    height : 100%;

    border-radius : var(--br);
    border : 1px solid var(--black8);
}

.dashboard-nav {
    width : 300px;
    height : 48px;

    display : flex;

    padding : 16px 20px;

    align-items: center;

    border-bottom : 1px solid var(--black8);
}

/* PLAYER COMPONENT */



.highlight-text {
    background-color : var(--black8);
}

.player-title {
    /* width : 100%; */
    flex : 1;
}

.grid-container {
    flex : 1;

    display : grid;
    grid-template-columns : repeat(3, 1fr); /* 3 columns */
    gap : 8px;
    margin: auto; /* Centering the grid */
}

.grid-item {
    display: flex;
    flex-direction: column;

    /* align-items: center;
    text-align: center; */

    padding-bottom : 40px;
}

/* Make the video span full width on the next row */
.grid-item video, .grid-item img {
    grid-column: span 3; /* Forces video to take full width */
    width: 100%;
}

.meta {
    font-size : var(--font-size-teeny);
    font-weight: 400;
    color : var(--black40);
}

.meta2 {
    font-size : var(--font-size-tiny);
    font-weight: 400;
    color : var(--black56);
}

.chip {
    font-family : var(--font-Barlow);
    font-weight : 800;
    font-size : var(--font-size-tiny);
    font-style : italic;

    padding : 0px 16px;
}

/* NAV */
.nav {
    width : 100%;
    height : 56px;

    z-index : 99;
    position : fixed;

    display : flex;
    flex-direction: row;
    gap : 16px;
    padding-left : 40px;

    align-items: center;

    background-color : var(--pt0);
    color : white;

    font-weight: 400;
    font-family : var(--font-Inter);
    font-size: var(--font-size-tiny);

    border-bottom : 1px solid var(--black40);
}

.icon-button {
    width : 40px;
    height : 40px;

    display : flex;
    align-items : center;
    justify-content : center;
    /* border : 1px solid var(--black8); */
}

.icon-button:hover {
    background-color: var(--black16);
}


.icon-container {
    width : 40px;
    height : 40px;

    display : flex;
    align-items : center;
    justify-content : center;
}

.icon {
    width : 20px;
    height : 20px;
    object-fit: contain;
}

.number {
    /* font-family: var(--font-Orbitron); */
    font-family: var(--font-Barlow);
    font-weight : 700;
    font-size : var(--font-size-medium);
}

.profile-image {
    object-position: top;
    object-fit: cover;
}

.highlight-container {
    position: relative;

    background-color: lightgray;
}

.highlight-thumbnail {
    width : 80px !important;
    height : 80px !important;

    position: absolute;

    right: 0;
    bottom: -32px;

    margin :8px;

    border : 2px solid white;
}

/* MODAL */
.thumbnail {
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Full-Screen Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Close Button */
  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background: white;
    color: black;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Video Container */
  .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Make the Video Fill the Entire Screen */
  .video {
    width: 100%;
    height: 100%;
  }

  /* EMOJI */
img.twemoji {
  height: 20px !important;
  width: 20px !important;
  display: inline-block !important;
}

/* .player-list-item-container>img {
    overflow : hidden;
    position : absolute;
    z-index : -1;
    opacity : 0.25;
    right : 0;
    height : 180px;
} */

.player-logo {
    overflow : hidden;
    position : absolute;
    z-index : -1;
    opacity : 0.25;
    right : 0;
    height : 180px;
}

.player-profile {
    overflow : hidden;
    position : absolute;
    z-index : 1;
    right : 0;
    width : 160px;
    /* height : 180px; */
    top : 0;
}

.player-button:hover {
    background-color : red;
}

.player-button.selected {
    background-color : red;
}